div#App
    height: 100%
    div.main
        height: 100%
        div.ant-flow-flex
            flex-flow: column
        div.ant-row-flex.header
            flex: 0 1 auto
            div.ant-col-24
                h1.mainTitle
                    padding: 6px 16px
                    border-bottom: 1px solid #e9e9e9
        div.ant-row-flex.body
            flex: 1 1 auto
            div.content
                padding-top: 20px
